<form>
  <div class="container">
    <h1 style="color:green" class="col-md-12">Money Market Virtual Keyboard</h1>
    <div class="row form-group">
      <div class="col-md-6">
        <label for="portuguese" class="control-label">Portuguese Search</label>
        <input 
        type="text" 
        name="portuguese" 
        class="form-control" 
        [(ngModel)]="portLang" 
        [(appVirtualKeyboard)]="portLang" 
        [isKeyboardDirectiveActive]="true"
        [language]="'portuguese'"
        [search]="true"
        >
      </div>
      <div class="col-md-6">
          <label for="portuguese" class="control-label label-standard">Portuguese Standard</label>
          <input 
          type="text" 
          name="portugueseS" 
          class="form-control" 
          [(ngModel)]="portStd" 
          [(appVirtualKeyboard)]="portStd" 
          [isKeyboardDirectiveActive]="true"
          [language]="'portuguese'"
          >
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
          <label for="english" class="control-label">English Search</label>
          <input 
          type="text" 
          name="english" 
          class="form-control" 
          [(ngModel)]="engLang" 
          [(appVirtualKeyboard)]="engLang" 
          [isKeyboardDirectiveActive]="true"
          [search]="true"
          >
        </div>
        <div class="col-md-6">
            <label for="english" class="control-label label-standard">English Standard</label>
            <input 
            type="text" 
            name="englishS" 
            class="form-control" 
            [(ngModel)]="engStd" 
            [(appVirtualKeyboard)]="engStd" 
            [isKeyboardDirectiveActive]="true"
            >
          </div>
      </div>
      <div class="row form-group">
          <div class="col-md-6">
            <label for="french" class="control-label">French Search</label>
            <input 
            type="text" 
            name="french" 
            class="form-control" 
            [(ngModel)]="frenLang" 
            [(appVirtualKeyboard)]="frenLang" 
            [isKeyboardDirectiveActive]="true"
            [language]="'french'"
            [search]="true"
            >
          </div>
          <div class="col-md-6">
              <label for="french" class="control-label label-standard">French Standard</label>
              <input 
              type="text" 
              name="frenchS" 
              class="form-control" 
              [(ngModel)]="frenStd" 
              [(appVirtualKeyboard)]="frenStd" 
              [isKeyboardDirectiveActive]="true"
              [language]="'french'"
              >
            </div>
        </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label for="cellNo" class="control-label" style="color:black">Number</label>
        <input type="number" class="form-control" [(ngModel)]="mobileNo" name="mobile" [(appVirtualKeyboard)]="mobileNo" [isKeyboardDirectiveActive]="true"
          [kboardType]="'numeric'">
      </div>
    </div>
    <!-- <button class="btn btn-primary" (click)="onToggle()">toggleLang</button> -->
  </div>
</form>